body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background: rgba(51, 48, 48, 0.5) !important;
}

.card {
    background: rgba(51, 48, 48, 0.5) !important;
    border: 3px solid rgba(255, 255, 255, 0.6) !important;
    padding: 0 !important;
}

.timer {
    margin-top: 30px;
}

.btn {
    display: flex !important;
    justify-content: center;
    margin: 50px auto;
}

.collection-item {
    background: rgba(51, 48, 48, 0.5) !important;
}

.list-group-item {
    background: rgba(51, 48, 48, 0.5) !important;
    color: white !important;
}

a:hover {
    background: rgba(168, 117, 15, 0.5) !important;
    transition: 0.7s;
}

.letter {
    border: 1px solid white;
    padding: 4px;
}

.results {
    padding: 6px !important;
    text-shadow: 1px 1px black;
}